<h3>Polls</h3>
<p>Ask a question to a device.</p>
<form id="ask-question-form">
    <label for="question">Question:</label>
    <input type="text" id="question" name="question">
    <button type="submit">Ask</button>
</form>
<hr>
<h4>Response:</h4>
<p id="response"></p>

<script>
    document.getElementById('ask-question-form').addEventListener('submit', function(e) {
        e.preventDefault();
        var question = document.getElementById('question').value;
        var nodeid = document.location.search.split('=')[1];
        var data = {
            action: 'polls_ask',
            nodeid: nodeid,
            question: question
        };
        // This will be handled by the plugin's admin.js
        pluginCommand(data, function(response) {
            document.getElementById('response').innerText = response.answer;
        });
    });
</script>